@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Montserrat:wght@400;500;600;700&family=Lobster&family=Dancing+Script:wght@400;700&display=swap");
@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;

}
html {
  scroll-behavior: smooth;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #F3F4F6;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #3B82F6;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #2563EB;
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}
.custom-scrollbar {
  scrollbar-width:thick;
  scrollbar-color: #1A73E8 #F3F4F6;
}
.recharts-wrapper,
.recharts-surface,
.recharts-wrapper,
.recharts-surface ,
div[class="recharts"] {
  outline: none !important;
}

.recharts-wrapper:focus,
.recharts-surface:focus,
.recharts-wrapper:focus-visible,
.recharts-surface:focus-visible {
  outline: none !important;
  border: none !important;
}