@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Lobster&family=Dancing+Script:wght@400;700&display=swap');
@import "tailwindcss";




/* Apply Poppins globally */
body {
  font-family: 'Poppins', sans-serif;
    /* margin-left: 20px; */
}